[submodule "sitzprobe"]
	path = sitzprobe
	url = https://github.com/niftynei/sitzprobe
[submodule "graphql"]
	path = graphql
	url = https://github.com/nettijoe96/c-lightning-graphql.git
[submodule "jwt-factory"]
	path = jwt-factory
	url = https://github.com/nettijoe96/jwt-factory.git
