[submodule "sitzprobe"]
	path = sitzprobe
	url = https://github.com/niftynei/sitzprobe
[submodule "graphql"]
	path = graphql
	url = https://github.com/nettijoe96/c-lightning-graphql.git
[submodule "jwt-factory"]
	path = jwt-factory
	url = https://github.com/nettijoe96/jwt-factory.git
[submodule "lightning-qt"]
	path = lightning-qt
	url = https://github.com/darosior/pylightning-qt
[submodule "csvexportpays"]
	path = csvexportpays
	url = git@github.com:0xB10C/c-lightning-plugin-csvexportpays.git
[submodule "c-lightning-plugin-csvexportpays"]
	path = c-lightning-plugin-csvexportpays
	url = git@github.com:0xB10C/c-lightning-plugin-csvexportpays.git
